.desc {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 40em) {
    .desc {
        display: block;
    }
}

.part{
    transition: 1s;
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    height: 33%;
    min-width: 20em;
}

.profile {
    border-radius: 33%;
    margin: 1em 1em 1em;
}

.link{
    display: inline-flex;
    align-items: center;
}

.icon{
    margin: 1em 2em 1em;
    width: 2em;
    height: 2em;
}

.icon:hover{
    transform: translate(2px, -2px);
    transition: 0.4s;
}

/* Animation */
.animTypewriter{
    width: 100%;
}
.animTypewriter h1{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(40,end) forwards;
}
.animTypewriter h2{
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation: type2 steps(40,end) 2s forwards;
    animation-delay: 2s;
}
.animTypewriter h3{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation: type2 2s steps(40,end) forwards, blink .5s 10 step-end alternate;;
    animation-delay: 4s;
}

@keyframes type {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 2px solid var(--color-blue);
    }
    100%{
        border-right: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    1%, 99% {
        border-right: 2px solid var(--color-blue);
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes blink {
    0%{
        border-right: 2px solid var(--color-blue);
    }
    50% {
        border-color: transparent;
    }
}