.desc {
    display: block;
    align-items: center;
}

.part{
    display: inline-grid;
    margin: 1rem;
    text-align: left;
    width: 45%;
    height: 33%;
    min-width: 20em;
}

.profile {
    border-radius: 33%;
    margin: 0 2em 0;
}

.link{
    display: inline-flex;
    align-items: center;
}

.icon{
    margin: 1em 2em 0;
    width: 2em;
    height: 2em;
}