.card-holder {
    display: flex;
}

.card {
    background: var(--color-card);
    padding: 0 1em;
    display: inline-grid;
    text-decoration: none;
    margin: 1rem;
    text-align: left;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    min-width: 20em;
    min-height: 10em;
    max-height: max-content;
    border: 2px solid var(--color-card);
}

.card:hover{
    transform: translate(3px, -3px);
    box-shadow: 0 3px 1em var(--color-card-border);
    transition: 0.4s;
}

.card h2{
    color: var(--color-heading);
}

.card span{
    color: cadetblue;
}

.card p{
    color: var(--color-text)
}