@import './base.css';

main {
  margin: 0 1em;
  padding: 1rem;
  align-items: center;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: hsla(200, 85%, 57%, 0.79);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: inline-flex;
    place-items: center;
  }
  main {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0 2rem;
  }
  .part {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
h2{
  color:var(--vt-c-indigo-light);
}

@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  main {
    display: inline-flex;
    flex-direction: column;
    place-items: center;
  }
}